.footer {
  z-index: 1;
  display: flex;
  background: $color2;
  min-height: 100px;
  padding: 0 10px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 0;

  .footer-username, .topic, .footer-count, .footer-malaise {
    background: $color1;
    color: #fff;
    margin: 15px;
    text-align: center;
    font-size: 18px;
    display: inline-block;
    flex-grow: 1;
  }

  .row1{
    width: 100%;
  }

  .topic{
    width: 50%;
    padding: 30px 10px;
    word-wrap: break-word;
  }

  .footer-count {
    width: 20%;
    padding: 30px 10px;
  }

  .footer-username {
    width: 20%;
    padding: 10px 10px;
  }

  .footer-malaise {
    padding: 10px;
    padding-top: 28px;
  }
}

@media (max-width: 450px){
  .footer{
    flex-wrap: wrap;

    .topic, .footer-username, .footer-malaise {
      margin: 6px;
    }

    .topic {
      margin-top: 10px;
      width: 100%;
    }

    .footer-username, .footer-malaise {
      width: 45%;
      margin-bottom: 10px;
    }
  }
}