.the-nav {
  z-index: 1;
  display: flex;
  color: $color1;
  background: $color2;
  min-height: 30px;
  padding: 0 10px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;

  .nav-brand{
    font-family: $logofont;
    margin: 5px;
  }

  .logo{
    margin: 5px;
  }

  .top-posts{
    float: right;
    text-decoration: none;
    font-family: $mainfont;
    border-radius: 5px;
    margin: 5px;
    padding-top: 13px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 15px;
    color: #fff;
    background-color: $color1;
  }
  .top-posts:hover{
    background-color: $color4;
  }
}

