.the-nav {
  z-index: 1;
  display: flex;
  color: $color1;
  background: $color2;
  min-height: 30px;
  padding: 0 10px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;

  .nav-brand{
    font-family: $logofont;
    margin: 5px;
  }

  .logo{
    margin: 5px;
  }
}

