//Styling sheet
$color1: #9982B8; //bright purple
$color2: #C8BBD6; //light purple
$color3: #363A67; //Dark blue
$color4: #BFC9E1; //light blue


$logofont: 'Raleway', sans-serif;
$mainfont: 'Josefin Sans', sans-serif;


body {
  margin-bottom: 20px;
  font-family: $mainfont;
}

h1 {
  font-size: 45px;
}
