@media screen and (max-width: 770px) {
  .welcome-text {
    padding-top: 50px;
  }
}

.jumbotron p {
  margin: 15px 0;
  font-size: 21px;
}

.jumbotron h1 {
  color: $color1;
  font-size: 80px;
}

.logo-img {
    margin-bottom: 20px;
}

.welcome-text {
  text-align: center;
  padding: 20px 10px 10px;
  .btn-success {
    font-size: 20px;
  }
}

.github {
font-size: 30px;
    a {
        color: $color1;
    }
    a:hover {
      color: $color3;
    }
}

.info {
 text-align: center;
 padding-bottom: 10px;
}

@media (max-width: 450px){
  .info{
    padding-bottom: 10px;
  }
}