
<!doctype html>
<html lang="en">
  <title>hCORE</title>
  <head>
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Raleway" rel="stylesheet">

  <link rel= "stylesheet" type="text/css" href="../styles.css">

  <script src="https://use.fontawesome.com/e652c986a6.js"></script>

  </head>
    <div>
      <nav class="the-nav">
        <img src="../huManatee.png" class="logo" width="50" height="50"/>
        <h1 class="nav-brand">hCORE</h1>
        <a class="home-link" href="/"><i class="fa fa-star" aria-hidden="true"></i>Game</a>
      </nav>
    </div>
    <div class="archive-list">
      <table class= "table">
        <thead class= "table-header">
          <td>Topic</td>
          <td>Response</td>
          <td>Name</td>
          </thead>
          <tdata>
          <% for(var prop in archivedPosts[0]){ %>
          <tr>
            <td><%= archivedPosts[0][prop].topic;%></td>
            <td><%= archivedPosts[0][prop].content;%></td>
            <td><%= archivedPosts[0][prop].name;%></td>
            </tr>
            </tdata>
          <%}%>
          </table>


    </div>
  </div>
</html>