
<!doctype html>
<html lang="en">
  <title>hCORE</title>
  <head>
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Raleway" rel="stylesheet">

  <link rel= "stylesheet" type="text/css" href="../styles.css">

  <script src="https://use.fontawesome.com/e652c986a6.js"></script>

  </head>
    <div>
      <nav class="the-nav">
        <img src="../huManatee.png" class="logo" width="50" height="50"/>
        <h1 class="nav-brand">hCORE</h1>
        <a class="home-link" href="/"><i class="fa fa-star" aria-hidden="true"></i>Game</a>
      </nav>
    </div>

<!--       <table class= "table">
        <thead class= "table-header">
          <td>Topic</td>
          <td>Response</td>
          <td>Name</td>
          </thead>
          <tdata> -->
      <div class="archive-table">
      <% for(var prop in archivedPosts[0]){ %>
        <div class="archive-post">
          <p class= "topic"><%= archivedPosts[0][prop].topic;%></p>
          <p class= "response">"<%= archivedPosts[0][prop].content;%>"</p>
          <p class= "name">- <%= archivedPosts[0][prop].name;%></p>
        </div>
      <%}%>
      </div>



  </div>
</html>