<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Indie+Flower" />

    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Raleway" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    <title>hCORE</title>

    <script src="https://use.fontawesome.com/e652c986a6.js"></script>

  </head>
  <body>
    <div id="react-root"></div>

      <script src="/bundle.js"></script>

  </body>
</html>