h1 {
  font-size: 45px;
  font-weight: normal;
}

body {
  font-family: 'Josefin Sans', sans-serif;
}

.the-nav {
  z-index: 1;
  display: flex;
  color: #9982B8;
  background: #C8BBD6;
  min-height: 30px;
  padding: 0 10px;
  position: fixed;
  width: 100%;
  margin: 0;
  top: 0;
  left: 0;
}

.nav-brand {
  font-family: 'Raleway', sans-serif;
  margin: 5px;
}

.logo {
  margin: 5px;
}

.home-link {
  margin-left: 50px;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
  border-radius: 5px;
  margin: 5px;
  padding-top: 16px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 15px;
  color: #fff;
  background-color: #9982B8;
}
.home-link:hover {
  background-color: #BFC9E1;
}

/*.archive-list {
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 80px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
}*/

.archive-table {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.archive-post {
  word-wrap: break-word;
  width: 80%;
  margin: 20px;
  padding: 20px;
  background-color: #9982B8;
  font-size: 25px;
}

.topic {
  color: #fff;
  padding-left: 50px;
}

.response {
  text-align: center;
  font-size: 40px;
}

.name {
  float: right;
  margin-right: 50px;
}

/*.table{
  word-wrap: break-word;
}*/
/*.table-header {
  font-size: 20px;
  background: #9982B8;
  color: #fff;
}
.table-header td:nth-of-type(1) {
  width: 40%;
}
.table-header td:nth-of-type(2) {
  width: 40%;
}

*/
