// body {
//   background: #dae2ef;
// }

.postform {
  display: flex;
  justify-content: center;
  margin: 120px 200px 50px 200px;
  textarea {
    width: 70%;
    min-width: 200px;
    margin-right: 15px;
    border-radius: 4px;
  }
}

.postlist {
  display: flex;
  flex-wrap: wrap;
  .post {
    padding: 20px;
    margin: 20px;
    margin-bottom: 5px;
    box-shadow:
      1px 1px #9da7b7,
      2px 2px #9da7b7,
      3px 3px #9da7b7;
    border-radius: 6px;
    flex-grow: 1;
    background: #e3ecf9;
    width: 33%;
    min-width: 350px;

    &:hover{
      transform: scale(0.99);
    }
    
  }
  .post-content {
  word-wrap: break-word;
  margin: 5px;
  padding: 10px;
  }
}
