.the-nav {
  z-index: 1;
  display: flex;
  color: black;
  background: #7899ba;
  min-height: 100px;
  padding: 0 10px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  box-shadow: 0 5px 15px gray;
  border-radius: 0;

  .nav-brand{
    background: #adc5dd;
    border-radius: 6px;
    color: inherit;
    padding: 20px 10px;
    margin: 15px;

    &:hover {
      background: #a3b8ce;
    }
  }

  .topic{
    background: #adc5dd;
    border-radius: 6px;
    text-align: center;
    justify-content: center;
    padding: 30px 10px;
    margin: 15px;
    flex-grow: 1;

    &:hover {
      background: #a3b8ce;
    }
  }

  .nav-count {
    background: #adc5dd;
    border-radius: 6px;
    color: inherit;
    text-align: center;
    font-size: 18px;
    padding: 10px 10px;
    margin: 15px;

    &:hover {
      background: #a3b8ce;
    }
  }

  .nav-username {
    background: #adc5dd;
    border-radius: 6px;
    color: inherit;
    text-align: center;
    font-size: 18px;
    padding: 10px 10px;
    margin: 15px;

    &:hover {
      background: #a3b8ce;
    }
  }

  .nav-malaise {
    background: #adc5dd;
    border-radius: 6px;
    color: inherit;
    text-align: center;
    font-size: 18px;
    padding: 10px 10px;
    margin: 15px;

    &:hover {
      background: #a3b8ce;
    }
  }



}